.bg-pink {
    background-color: pink;
}

.square {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:hover {
    transform: scale(1.5);
    border: 3px solid lightgreen;
}